@let data = usersData();

<nb-card>
  <nb-card-header>
    <h1>Users</h1>
    <button nbButton status="primary" (click)="update(null)">Create User</button>
  </nb-card-header>

  @if(data) {
  <nb-card-body>

    <nb-list>
      @for (item of data; track $index) {
      <nb-list-item class="user-list__item">
        <div>
          <strong>{{ item.user.name }}</strong>
          <div class="text-hint">Assigned tasks: {{item.tasks.length}} </div>
          <ul>
            <li *ngFor="let t of item.tasks">{{ t.name }} — {{ t.state }}</li>
          </ul>
        </div>

        <div class="user-list__item-action">
          <button nbButton status="info" size="tiny" (click)="update(item.user)">Edit</button>
          <button nbButton status="danger" size="tiny" (click)="delete(item.user)">Delete</button>
        </div>

      </nb-list-item>
      }
    </nb-list>

  </nb-card-body>
  }

</nb-card>