.task-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
}

.form-control {
    position: relative;
    .caption {
        position: absolute;
        top: 100%;
    }
}

.update-user__footer {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}