nb-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nb-badge {
  z-index: 1;
}

.task-list__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nb-list-item {
  &.task-list__item {
    position: relative;
  }
}

.task-list__item-action {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 6px;

  .actions-buttons {
    display: flex;
    gap: 6px;
  }
}
