@let data = tasksData();

<nb-card>
  <nb-card-header>
    <h1>Tasks</h1>
    <button nbButton status="primary" (click)="edit(null)">Create Task</button>
  </nb-card-header>

  @if (data) {
  <nb-card-body>
    <nb-list>

      @for (task of data; track task.id) {
      <nb-list-item class="task-list__item">

        <div class="task-list__item">

          <div>
            <strong>{{ task.name }}</strong>
            <div class="text-hint">
              Created at: {{ task.createdAt | date: 'short' }} • Updated at: {{ task.updatedAt | date: 'short' }}
            </div>
            @if (task.description) {
              <div class="text-basic">{{ task.description }}</div>
            }
            <div>
              <nb-badge [text]="task.state | stateLabel" [status]="task.state | status"></nb-badge>
              <span class="text-hint"> • Assigned to: {{ usersMap().get(task.userId || '') }}</span>
            </div>
          </div>

          <div class="task-list__item-action">
            <nb-select placeholder="Assign user" size="tiny" [selected]="task.userId"
              (selectedChange)="assign(task.id, $event)">
              <nb-option [value]="undefined">— Unassign —</nb-option>
              @for (u of userList(); track $index) {
                <nb-option [value]="u.id">{{ u.name }}</nb-option>
              }
              
            </nb-select>


            <nb-select placeholder="State" size="tiny" [selected]="task.state"
              (selectedChange)="setState(task.id,$event)">
              @for (s of states; track $index) {
                <nb-option [value]="s">{{ s | stateLabel }}</nb-option>
              }
            </nb-select>

            <div class="actions-buttons">
              <button nbButton status="info" size="tiny" (click)="edit(task.id)">Edit</button>
              <button nbButton status="danger" size="tiny" (click)="delete(task.id)">Delete</button>
            </div>

          </div>
        </div>

      </nb-list-item>
      }


    </nb-list>

  </nb-card-body>
  }

</nb-card>