@let data = tasksData();

<nb-card>
  <nb-card-header>
    <h1>Tasks</h1>
    <button nbButton status="primary" (click)="edit(null)">Create Task</button>
  </nb-card-header>

  @if (data.length) {
  <nb-card-body>
    <nb-list>

      @for (task of data; track task) {
        
      <nb-list-item class="task-list__item">
        <div class="task-list__item">

          <div>
            <strong>{{ task.name }}</strong>
            <div class="text-hint">
              Created at: {{ task.createdAt | date: 'short' }} • Updated at: {{ task.updatedAt | date: 'short' }}
            </div>
            @if (task.description) {
            <div class="text-basic">{{ task.description }}</div>
            }
            <div>
              <nb-badge [text]="task.state | stateLabel" [status]="task.state | status"></nb-badge>
              @let assignedTo = usersMap().get(task.userId || '');
              @if(!!assignedTo) {
                <span class="text-hint"> • Assigned to: {{ assignedTo }}</span>
              }
            </div>
          </div>

          <div class="task-list__item-action">
            <nb-select placeholder="Assign user" size="tiny" [selected]="task.userId"
              (selectedChange)="assign(task, $event)"
              >
              <nb-option [value]="null">— Unassign —</nb-option>
              @for (u of userList(); track u.id) {
              <nb-option [value]="u.id">{{ u.name }}</nb-option>
              }

            </nb-select>


            <nb-select placeholder="State" size="tiny" [selected]="task.state" (selectedChange)="setState(task, $event)">
              @for (s of states; track s) {
              <nb-option [value]="s">{{ s | stateLabel }}</nb-option>
              }
            </nb-select>

            <div class="actions-buttons">
              <button nbButton status="info" size="tiny" (click)="edit(task)">Edit</button>
              <button nbButton status="danger" size="tiny" (click)="delete(task)">Delete</button>
            </div>

          </div>
        </div>

      </nb-list-item>
      }


    </nb-list>

  </nb-card-body>
  }

</nb-card>